.metadata/.plugins/org.eclipse.core.resources/.history/3c/607fc88eee52001a10bcf6140dad28a6
.metadata/
Servers/
*.class
.settings/
.class
target/
sts06/.classpath
sts06/.project
sts06/.springBeans

*.eot
*.svg
*.ttf
*.woff
*.woff2
